external-libraries

!external-libraries/jquery/
external-libraries/jquery/*
!external-libraries/jquery/dist
external-libraries/jquery/dist/*
!external-libraries/jquery/dist/jquery.min.js

external-libraries/jquery-modal/*
!external-libraries/jquery-modal/jquery.modal.min.js
!external-libraries/jquery-modal/jquery.modal.min.css

node_modules

css/include.min.css
css/reset.min.css
css/skeleton.min.css
css/theme.min.css

img-source
